*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}
/* Grid System For Page */
.theme2{
    display: grid;
    grid-template-areas: 
    "hd"
    "sec"
    "ft";
}
/*Login section*/
.theme2 .sec1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.theme2 .login-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/kidcalc//assests/images/login-space-theme.jpg);
    background-size: cover;
    background-position: -225px 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.theme2 .login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
    background-color: #1e1e1e;
}
.theme2 .login-txt{
    color: #fff;
    font-size: 40px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.theme2 .user-input{
    margin: 15px 0;
}
.theme2 .user-input label{
    color: white;
    font-size: 22px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.theme2 .user-input input{
    border: none;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
}
.theme2 .user-name input{
    margin-left: 15px;
}
.theme2 .user-age input{
    margin-left: 33px;
}
.theme2 .user-theme select{
    border: none;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    color: #686868;
    margin-left: 5px;
}
.theme2 .form-submit{
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #3269d2;
    color: #fff;
    transition: 0.5s ease;
    border-radius: 8px;
}
.theme2 .form-submit:hover{
    background-color: #214486;
}
/*Calculation section*/
.theme2 .sec2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/kidcalc/assests/images/space-theme.jpg);
    background-attachment: fixed;
    background-position: 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.theme2 .calc-txt{
    color: #fff;
    font-size: 50px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.theme2 .calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 35px;
}
.theme2 .result-screen{
    width: 100%;
    height: 100px;
    background-color: #1e1e1e;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px 0 0;
    border-radius: 12px 12px 0 0;
}
.theme2 .calc-buttons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}
.theme2 .calc-but{
    color: white;
    background-color: #606060;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.theme2 .calc-but:hover{
    background-color: #5a5a5a;
}
.theme2 .equal{
    background-color: #8be3eb;
    color: #1e1e1e;
}
.theme2 .equal:hover{
    background-color: #79c5cc;
}
/*information bar section*/
.theme2 .sec3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/kidcalc/assests/images/space-theme.jpg);
    background-attachment: fixed;
    background-position: 0;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.theme2 .sec3 div:nth-child(1){
    color: #fff;
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}
.theme2 .sec3 div:nth-child(2){
    color: white;
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.theme2 .sec3 div:nth-child(2) span{
    color: #8be3eb;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Medium Devices ( landscape tablets ) */
@media (max-width : 992px) {
    .theme2 .login-img{
        background-position: -250px 0;
    }
    .theme2 .user-input input,
    .theme2 .user-theme select{
        width: 250px;
    }
    .theme2 .calc{
        width: 70%;
    }
}
/* Small Devices ( portrait tablets and large phones ) */
@media (max-width : 768px){
    .theme2 .sec1{
        flex-direction: column;
    }
    .theme2 .login-img{
        background-position: 0;
        width: 100%;
        height: 50%;
    }
    .theme2 .login{
        width: 100%;
        height: 50%;
        gap: 25px;
    }
    .theme2 .login-txt{
        display: none;
    }
    .theme2 .user-input input,
    .theme2 .user-theme select{
        width: 400px;
    }
}
/* Extra Small Devices ( phones ) */
@media (max-width : 600px){
    .theme2 .user-input input,
    .theme2 .user-theme select{
        width: 240px;
    }
    .theme2 .sec3 div:nth-child(1){
        font-size: 25px;
    }
    .theme2 .sec3 div:nth-child(2){
        font-size: 20px;
    }
}
@media (max-width: 360px) {
    .theme2 .user-input label{
        font-size: 18px;
    }
    .theme2 .user-input input,
    .theme2 .user-theme select{
        width: 200px;
        font-size: 14px;
    }
    .theme2 .sec3 div:nth-child(1){
        font-size: 25px;
    }
    .theme2 .sec3 div:nth-child(2){
        font-size: 20px;
    }
}